<div class="ui small inverted menu">
  <div class="ui container">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Chatroom
    </a>
    <div class="right menu">
      <a class="item">Log in</a>
      <a class="item">Sign up</a>
      <a class="item">Log out</a>
      <div class="item">
        <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>
